{% extends "submit/base.html" %}
{% block title %}submit page{% endblock title %}
{% load staticfiles %}

{% block body %}
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-6 full-width margin-top-20percent">
                    <h2 align="center">My Submission Page</h2>
                    Submit結果を検索するよ
                    <form method="POST" onsubmit="return check_blank_mysubmission(this)">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username">Username</label>
                            <input type="text" class="form-control" name="username" id="id_username">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block" value="submit">検索</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}