{% extends "submit/base.html" %}
{% block title %}leaderboard page{% endblock title %}
{% load staticfiles %}

{% block body %}
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-6 full-width margin-top-20percent">
                    <h2 align="center">Leaderboard</h2>
                    <div class="table-responsive">
                        <table id="leaderboard-main_table" border="0">
                                <tr>
                            {% for d in date_list|dictsort:date_list %}
                                    <td valign="top">
                                        <table id="leaderboard-table"
                                               class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
                                            <thead>
                                            <tr>
                                                <th class="score_table" COLSPAN="3">{{ d }}</th>
                                            </tr>
                                            <tr>
                                                <th class="score_table">ユーザ名</th>
                                                <th class="score_table">ファイル名</th>
                                                <th class="score_table">スコア</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for score_data in score_list|dictsort:"score" %}
                                                {% if score_data.score_date == d %}
                                                <tr>
                                                    <td class="score_table">{{ score_data.submit.username }}</td>
                                                    <td class="score_table">{{ score_data.submit.filename }}</td>
                                                    <td class="score_table">{{ score_data.score }}</td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                            {% endfor %}
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}